


.sliderBarList {
  list-style-type: none;
  margin-left: 4px;
}

#cardHeaderList {
  display: flex;
  list-style-type: none;
  justify-content: start;
  padding: 0px;
}
#cardHeaderList > li {
  margin: 4px;
  display: inline-block;
}
#carHeaderList > li > h4 {
  margin-left: 8px;
}

.cardHeaderDropdownButton {
  background: transparent;
  border: none;
}

#cardHeaderCaretWhenOpen {
  max-width: 20px;
  height: auto;
}
#cardHeaderCaretWhenClosed {
  max-width: 20px;
  transform: rotate(-90deg);
  height: auto;
}

.Slider {
  height: 150px;
  border: 4px solid red;
}

.titleCloseBtn {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn {
  background-color: royalblue;
  border: khaki;
  font-size: 25px;
  cursor: pointer;
}