/**
    index.scss
    Boilerplate from: https://stackoverflow.com/a/50253707/17213181
*/

/* import the necessary Bootstrap files */
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';

$primary: #ef7d57;
$secondary: #84778a;
$tertiary: #ffcd75;
$success: #38b764;
$failure: #b13e53;
$locked: #b13e53;

// .container {
//     border: 2px solid red;
// }

/* finally, import Bootstrap */
@import "bootstrap";