/**
    index.scss
    Boilerplate from: https://stackoverflow.com/a/50253707/17213181
*/

/* import the necessary Bootstrap files */
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';

$theme-colors: (
  primary: #ef7d57,
  secondary: #84778a,
  tertiary: #ffcd75,
  success: #38b764,
  failure: #b13e53,
);

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* finally, import Bootstrap */
@import "bootstrap";