/* 
    NAME: ModelArea.css
    LAST_EDIT_BY: Cole S.
    FILE_RESPONSIBILITY: 
        This file will hold all css pertaining to the model area which holds the react flow pathway
 */

.ModelArea {
  height: inherit;
  width: inherit;
  display: flex;
  background-color: #e6ebf2;

  position: relative;
}

.ModelAreaChild {
  position: absolute;
}

.ReactFlow {
  z-index: 1;
}

#PathwayTitleCard {
  right: 12px;
  top: 20px;
  z-index: 99;
  width: fit-content;
  height: 200px;
}

#PathwaySliderBox {
  left: 4px;
  top: 64px;
  z-index: 98;
}