/* 
    NAME: ReactFlowArea.css
    LAST_EDIT_BY: Cole S.
    FILE_RESPONSIBILITY: 
        This file will hold all css pertaining to the react flow components within the actual pathway model
 */

.react-flow__node.substrate {
    border-radius: 50%;
    /* background-image: url(../../images/skiPass.jpg); */
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* fontweight: 700;  */
}


.react-flow__node.enzyme {
    width: 150px;
    height: 100px;
    /* transform: skew(20deg); */
    background: rgb(82, 188, 162);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/glycolysis/aldolase.png);
    /* fontweight: 700;  */
}

/* new maybe delete soon
*/
.react-flow__node.ReversibleEnzyme {
    font-size: 12px;
    width: 150px;
    height: 100px;
    background: #eee;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    /* background-image: url(../../images/glycolysis/aldolase.png); */
  }

  /* Probably delete soon
  */
.react-flow__node.Molecule {
    border-radius: 50%;
    width: 50px;
    height: 25px;
    background: rgb(6, 13, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    /* font-size: 12px;
    background: #eee;
    border: 1px solid rgb(11, 83, 251);
    border-radius: 5px;
    text-align: center; */
}