
:root {
  --pathwayViewHeight: inherit;
  --pathwayViewWidth: 100%;

  --navBarHeight: 10%;
  --pathwayViewAreaHeight: 90%;

  /* when a sidebar is expanded it should take up about this much space */
  --sidebarExpandedWidth: 20%;
}

.NavBar {
  height: var(--navBarHeight);
}

div.MainView{
  position: relative;
  height: inherit;
  width: 100%;
}

.PathwayView {
  height: var(--pathwayViewAreaHeight);
  display: flex;
}

.PathwayViewComponentsList {
  list-style-type: none;
  
  background-color: aquamarine;
  /* background-color: brown; */
}

.PathwayViewComponentsList.li {
  display: inline;
}

.ModelAreaLi {
  height: 100%;
  width: auto;
}

.ModelArea {
  flex: 100%
}

